services:
  webhook:
    build: ./build
    container_name: {{ webhook_container_name }}
    volumes:
      - ./config:/config:ro
      - ./data:/data:rw
      - /var/run/docker.sock:/var/run/docker.sock:rw
    environment:
      - TZ={{ core_timezone }}
    networks:
      - default
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.webhook.entrypoints=https
      - traefik.http.routers.webhook.rule=Host(`{{ webhook_domain }}`)
    restart: always

networks:
  default:
    name: webhook
  traefik:
    external: true
