services:
  nextcloud:
    image: {{ nextcloud_image }}:{{ nextcloud_image_tag }}
    container_name: {{ nextcloud_container_name }}
    depends_on:
      - mariadb
      - redis
    volumes:
      - ./config:/custom-cont-init.d:ro
      - ./data/nextcloud/config:/config:rw
      - ./data/nextcloud/data:/data:rw
    environment:
      - PUID={{ core_data_uid }}
      - PGID={{ core_data_gid }}
      - TZ={{ core_timezone }}
    networks:
      - default
      - lldap
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.nextcloud.entrypoints=https
      - traefik.http.routers.nextcloud.rule=Host(`{{ nextcloud_domain }}`)
      - traefik.http.routers.nextcloud.middlewares=nextcloud-dav,nextcloud-well-known
      - traefik.http.middlewares.nextcloud-dav.redirectregex.permanent=true
      - traefik.http.middlewares.nextcloud-dav.redirectregex.regex=https://([^/]*)/\.well-known/(card|cal)dav
      - traefik.http.middlewares.nextcloud-dav.redirectregex.replacement=https://$${1}/remote.php/dav/
      - traefik.http.middlewares.nextcloud-well-known.redirectregex.permanent=true
      - traefik.http.middlewares.nextcloud-well-known.redirectregex.regex=https://([^/]*)/\.well-known/(.*)
      - traefik.http.middlewares.nextcloud-well-known.redirectregex.replacement=https://$${1}/index.php/.well-known/$${2}
      - flame.type=application
      - flame.name=nextcloud
      - flame.url={{ nextcloud_domain }}
      - flame.icon=cloud
    restart: always

  mariadb:
    image: {{ nextcloud_mariadb_image }}:{{ nextcloud_mariadb_image_tag }}
    container_name: {{ nextcloud_mariadb_container_name }}
    volumes:
      - ./data/mariadb:/var/lib/mysql:rw
    environment:
      - MARIADB_ROOT_PASSWORD=nextcloud
      - MARIADB_DATABASE=nextcloud
      - MARIADB_USER=nextcloud
      - MARIADB_PASSWORD=nextcloud
    networks:
      - default
    user: {{ core_data_uid }}:{{ core_data_gid }}
    restart: always

  redis:
    image: {{ nextcloud_redis_image }}:{{ nextcloud_redis_image_tag }}
    container_name: {{ nextcloud_redis_container_name }}
    volumes:
      - ./data/redis:/data:rw
    networks:
      - default
    user: {{ core_data_uid }}:{{ core_data_gid }}
    restart: always

networks:
  default:
    name: nextcloud
  lldap:
    external: true
  traefik:
    external: true
