period = {{ inadyn_period }}
{% if inadyn_user_agent is defined %}
user-agent = {{ inadyn_user_agent }}
{% endif %}
{% for entry in inadyn_entries +%}
provider {{ entry.provider }}:{{ loop.index }} {
    {% for key, value in entry | items if key != 'provider' %}
    {{ key }} = {{ value is boolean | ternary(value | to_json, value) }}
    {% endfor %}
}
{% endfor %}
